#skipNav{position:relative;z-index:9999;}
#skipNav a{position: absolute; top: -200px; left:0;
	width: 100%; line-height: 30px; 
	border: 1px solid #dedede; background-color: #333; color: #fff; text-align: center;}
#skipNav a:focus, 
#skipNav a:active{top: 0;}

.hidden {
    position: absolute !important; 
    top:auto;
    left:-10000px; 
    width:1px; 
    height:1px; 
    overflow:hidden; 
}

body{
    font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo", "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}